@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-2xs: 0.6875rem;
  --text-2xs--line-height: 1rem;

  --text-3xs: 0.625rem;
  --text-3xs--line-height: 0.875rem;

  --text-4xs: 0.5625rem;
  --text-4xs--line-height: 0.75rem;

  --text-5xs: 0.5rem;
  --text-5xs--line-height: 0.625rem;

}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}